.wrapper
  .header チャットグループが作成できました。
  .contents.clearfix
    .left_content
      .left_content__user_nav
        .left_content__user_nav__user_name K Lee
        .fa.fa-cog{"aria-hidden" => "true"}
        .fa.fa-pencil-square-o{"aria-hidden" => "true"}
      .left_content__chat_groups
        .left_content__chat_groups__chat_group_name CODE
        .left_content__chat_groups__last_msg Lets code
    .right_content
      .right_content__top_content
        .right_content__top_content__chat_group_name_main Sample Group
        .right_content__top_content__edit_button Edit
        .right_content__top_content__members Members: Klee Tech
      .right_content__middle_content
        .right_content__middle_content__message
          .right_content__middle_content__message__user_name_in_use K Lee
          .right_content__middle_content__message__date 2017/5/16
          .right_content__middle_content__message__comment Hello, World!
      .right_content__bottom_content
        .right_content__bottom_content__sent_button Send
        .i.fa.fa-picture-o{"aria-hidden" => "true"}
        .right_content__bottom_content__text_bar Please enter text
