.wrapper
  .contents.clearfix
    .left_content
      .left_content__user_nav
        .left_content__user_nav__user_name K Lee
        .fa.fa-cog{"aria-hidden" => "true"}
        .fa.fa-pencil-square-o{"aria-hidden" => "true"}
      .left_content__chat_groups
        = render @groups
