 .left_content{
        width: 300px;
        height:100px;
        float: left;
        &__user_nav{
          height: 105px;
          background-color: #253141;
          padding:0px 0px 0px 20px;

          &__user_name{
            font-size: 16px;
            color:#FFFFFF;
            font-weight: bold;
            line-height: 90px;
            float:left;
          }
          .fa{
            float:right;
            line-height: 90px;
            margin-right: 20px;
            color:white;
          }
        }
        &__chat_groups{
          padding-top:20px;
          background-color: #2f3e51;
          height:calc(100vh - 90px);
          padding:0px 0px 0px 20px;
          &__chat_group_name{
            font-size: 15px;
            color:#FFFFFF;
            padding-bottom:5px;
            padding-top: 40px;
          }
          &__last_msg{
            font-size: 11px;
            color: #FFFFFF;
            padding-bottom:40px;
          }
        }
      }
