  .header {
      height:30px;
      background-color: #38AEF0;
      text-align: center;
    }

  .contents{
    width:100vw;
    height:100vh;
      &__left_content{
        width: 300px;
        height:100px;
        float: left;
        &__user_nav{
          height: 105px;
          background-color: #253141;
          padding:0px 0px 0px 20px;

          &__user_name{
            font-size: 16px;
            color:#FFFFFF;
            font-weight: bold;
            line-height: 90px;
            float:left;
          }
          .fa{
            float:right;
            line-height: 90px;
            margin-right: 20px;
            color:white;

          }
        }
        &__chat_groups{
          padding-top:20px;
          background-color: #2f3e51;
          height:calc(100vh - 90px);
          padding:0px 0px 0px 20px;
          &__chat_group_name{
            font-size: 15px;
            color:#FFFFFF;
            padding-bottom:5px;
            padding-top: 40px;
          }
          &__last_msg{
            font-size: 11px;
            color: #FFFFFF;
            padding-bottom:40px;
          }
        }
      }
      &__right_content{
        height: 100vh;
        width: calc(100vw - 300px);
        float: left;

        &__top_content{
          height:105px;
          border-bottom: solid;
          border-color: #eeeeee;

          &__chat_group_name_main{
            height:20px;
            margin-top:35px;
            font-size:20px;
            color:#333333;
            width:300px;
            float: left;
            padding: 0 40px 0 40px;
          }
          &__members{
            height:35px;
            margin-top:15px;
            font-size: 12px;
            color:#999999;
            width:300px;
            padding: 0 40px 0 40px;
            clear: both;
          }
          &__edit_button{
            height:40px;
            color:#38AEF0;
            float:right;
            margin-top:28px;
            padding:0 20px 0 20px;
            margin-right: 40px;
            line-height: 40px;
            border-style: solid;
            border-color: #38AEF0;
          }
        }
        &__middle_content{
          height: calc(100vh - 195px);
          padding: 0 40px 0 40px;
          &__message{
            width:300px;
            padding: 46px 0 40px 0;

            &__user_name_in_use{
              font-size:16px;
              color:#434A54;
              font-weight: bold;
              float:left;
            }
            &__date{
              font-size:12px;
              color:#999999;
              float:left;
              margin-left:5px;
            }
            &__comment{
              margin-top:10px;
              font-size: 14px;
              color:#434A54;
              clear:both;
            }
          }
        }
        &__bottom_content{
          height: 90px;
          background-color: #AAAAAA;


          &__sent_button{
            height:50px;
            width:80px;
            text-align: center;
            line-height: 50px;
            background-color: #38AEF0;
            float:right;
            margin:20px 40px 20px 15px;
          }
          &__text_bar{
            height:50px;
            width:calc(100vw - 505px);
            line-height: 50px;
            font-size: 16px;
            color:#434A54;
            background-color: white;
            margin:20px 10px 20px 10px;
            float:left;}
          .i.fa{
              margin:32.5px 10px 0 20px;
          }
        }
      }
    }

  .clearfix:after{
    content: “”;
    display: block;
    clear: both;
  }

  .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
